@using HRMapp.ViewModels
@model SkillsetEditorViewModel

@{
    ViewData["Title"] = "SkillsetEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FormTitle</h2>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">@Model.ErrorMessage</p>
}

<form asp-action="@Model.FormAction" method="post">
    <div class="form-group">
        <label asp-for="@Model.Title" class="control-label"></label>
        <input asp-for="@Model.Title" class="form-control" placeholder="Naam" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description" class="control-label"></label>
        <textarea asp-for="@Model.Description" class="form-control" placeholder="Typ hier een omschrijving..."></textarea>
    </div>
    <div class="form-group">
        <button id="btnSubmit" type="submit" class="btn btn-default">Opslaan</button>
        <a id="btnCancel" class="btn btn-default">Annuleren</a>
    </div>
</form>

<script>
    var userInputChanged = false;

    document.getElementById('Title').oninput = function () { userInputChanged = true; }
    document.getElementById('Description').oninput = function () { userInputChanged = true; }
    document.getElementById('btnSubmit').onclick = function () { userInputChanged = false; }
    document.getElementById('btnCancel').onclick = function () { window.location.href = '/Home/Skillset'; }

    window.onbeforeunload = function (event) {
        if (userInputChanged) {
            var message = 'Er zijn wijzigingen niet opgeslagen. Weet u zeker dat u de pagina wilt verlaten?';
            return message;
        }
    }
</script>