@using HRMapp.Models
@model ProductionTask

<h3>@Model.Name</h3>
<p>ID: @Model.Id</p>
<p>Duur: @Model.Duration.Hours uur en @Model.Duration.Minutes minuten</p>
<br />
<h4>Omschrijving:</h4>
<p>@Model.Description</p>
<br />
@if (Model.RequiredSkillsets.Count > 0)
{
    <h4>Nodige skillsets:</h4>
    <ul>
        @foreach (var skillset in Model.RequiredSkillsets)
        {
            <li>@skillset.Name</li>
        }
    </ul>
}