@using HRMapp.ViewModels
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model ProductEditorViewModel

@{
    ViewData["Title"] = "ProductEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .taskItem {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .taskItemHeader {
        display: flex;
        justify-content: space-between;
        color: #333;
        background-color: #eee;
        border-color: #ccc;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        vertical-align: middle;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        padding: 6px 12px;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: pointer;
    }

        /*.taskItemHeader span {
            user-select: none;
        }*/

    .taskItemContent {
        padding: 6px 12px;
        background-color: #FCFCFC;
    }

    .taskContainer {
        user-select: none;
    }

    .contentRight {
        display: flex;
        justify-content: flex-end;
    }

    .noTaskFount {
        color: #333;
        background-color: #eee;
        border-color: #ccc;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        vertical-align: middle;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        padding: 6px 12px;
        margin-bottom: 0;
        vertical-align: middle;
    }
</style>

<h2>@Model.FormTitle</h2>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form asp-action="@Model.FormAction" method="post" id="formProduct">
    <div class="form-group">
        <label asp-for="@Model.Name" class="control-label"></label>
        <input asp-for="@Model.Name" class="form-control" placeholder="Naam" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description" class="control-label"></label>
        <textarea asp-for="@Model.Description" class="form-control" placeholder="Typ hier een omschrijving..." rows="10"></textarea>
    </div>
    
    
</form>

<div class="form-group">
    <h3>Taken</h3>
    <div class="form-group">
        @if (Model.Id == 0)
        {
            //SaveAndAddNewTask
            <button class="btn btn-default" onclick="userInputChanged = false;$('#formProduct').attr('action', '/Product/SaveAndAddNewTask');" type="submit" form="formProduct">Nieuwe taak toevoegen</button>
        }
        else
        {
            <a class="btn btn-default" asp-controller="Task" asp-action="New" asp-route-productId="@Model.Id">Nieuwe taak toevoegen</a>
        }
        
    </div>
    
    <div class="taskContainer">
        @Html.Partial("~/Views/Product/_TaskContainerContent.cshtml", Model.Tasks)
    </div>
    
</div>
<div class="form-group">
    <button id="btnSubmit" type="submit" class="btn btn-default" form="formProduct">Opslaan</button>
    <a id="btnCancel" class="btn btn-default">Annuleren</a>
</div>

<script>
    function deleteTask(taskId) {
        $.ajax({
            url: '/Task/Delete',
            data: {
                'taskId': taskId,
                'productId': @Model.Id
            },
            type: 'post',
            cache: false,
            success: function (response) {
                $('.taskContainer').html(response);
            }
        });
    }

    

    function collapseAllTaskItems() {
        var acc = document.getElementsByClassName("taskItemContent");
        for (i = 0; i < acc.length; i++) {
            acc[i].style.display = "none";
        }
    }
</script>

<script>
    var userInputChanged = false;
    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
    {
        @:userInputChanged = true;
    }

    document.getElementById('Name').oninput = function () { userInputChanged = true; }
    document.getElementById('Description').oninput = function () { userInputChanged = true; }
    document.getElementById('btnSubmit').onclick = function () { userInputChanged = false; }
    document.getElementById('btnCancel').onclick = function () {
        if (@Model.Id > -1) {
            window.location.href = '/Product/Index/@Model.Id';
        } else {
            window.location.href = '/Product';
        }
    }

    window.onbeforeunload = function (event) {
        if (userInputChanged) {
            var message = 'Er zijn wijzigingen niet opgeslagen. Weet u zeker dat u de pagina wilt verlaten?';
            return message;
        }
    }
</script>