@using HRMapp.Models
@model ProductionTask

@*<p>Duur: @Model.Duration.Hours uur en @Model.Duration.Minutes minuten</p>
<br />
<h4>Omschrijving:</h4>
<div style="border-style: solid; border-radius: 5px; border-width: 1px; border-color: LightGray;">
@Html.Raw(Model.Description)
</div>

@if (Model.RequiredSkillsets.Count > 0)
{
    <h4>Nodige skillsets:</h4>
    <ul>
        @foreach (var skillset in Model.RequiredSkillsets)
        {
            <li>@skillset.Name</li>
        }
    </ul>
}*@
<h4>Duur:</h4>
<p>@Model.Duration.Hours uur en @Model.Duration.Minutes minuten</p>

<h4>Omschrijving:</h4>
<div>
    @Html.Raw(Model.Description)
</div>

<h4>Uit te voeren door:</h4>
@if (Model.RequiredSkillsets.Count > 0)
{
    <ul>
        @foreach (var skillset in Model.RequiredSkillsets)
        {
            <li>@skillset.Name</li>
        }
    </ul>
}
else
{
    @:Iedereen
}