@using HRMapp.Models
@model ProductionTask

<h4>Duur:</h4>
<p>@Model.Duration.Hours uur en @Model.Duration.Minutes minuten</p>

<h4>Omschrijving:</h4>
<div>
    @Html.Raw(Model.Description)
</div>

<h4>Uit te voeren door:</h4>
@if (Model.Employees.Count > 0)
{
    <ul>
        @foreach (var employee in Model.Employees)
        {
            <li>@employee.FirstName @employee.LastName</li>
        }
    </ul>
}
else
{
    @:Iedereen
}